<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node Boats</title>
    <meta name="description" content="2014 JSConf Node Boats">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>

    <!-- controls -->
    <div class="container" ng-app="boat" ng-controller="boatController">

        <button class="power" ng-click="togglePower()">Kill Switch</button>

        <div>
            <label for="speed">Speed</label>
            <input id="speed" type="range" min="-255" max="255" value="0" ng-model="motorspeed" />
            <div ng-bind="motorspeed"></div>
        </div>

        <div>
            <label for="angle">Angle <span ng-bind="angle"></span></label>
            <span>Left</span><input id="angle" type="range" min="0" max="175" step="10" ng-model="angle" /><span>Right</span>
        </div>

    </div>

    <!-- attribution -->
    <div class="attribution">Background animation and images from: <a href="http://codepen.io/Treehouse/pen/JKaAE">codepen.io</a></div>

    <!-- background -->
    <div class="boat">
        <img src="http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-12/boat.png" alt="tugboat">
    </div>

    <!-- scripts -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <!--<script src="/vendor/socket.io-client/socket.io.js"></script>
    <script>
        var socket = io();
    </script>-->
    <script src="/js/app.js"></script>

</body>
</html>
